{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About Us</h1>
<div class="container mt-4 about-container">
    
    <p>
        Welcome to our tool. 
        Keep in mind, this tool only works on .idf files that come straight out of the Ewat drawing tool.
        The following assumptions are made:
        <ul>
            <li>Busbar thickness and string thickness are 0.3 mm and 1 mm respectively.</li>
            <li>Insulation thickness is 2 mm in height.</li>
            <li>Range of Robot 1: 87deg;273deg</li>
            <li>Range of Robot 2: -93deg;93deg</li>
    </p>
    <!-- Add more about content here -->
</div>
{% endblock %}