{% extends "base.html" %}

{% block title %}Manipulate{% endblock %}

{% block content %}
<h1>Manipulate</h1>
<form action="/submit_parameters" method="post" enctype="multipart/form-data">
    {% if filename %}
        {{ filename }}
    {% endif %}

    <div class="row custom-col">
        <fieldset class="row custom-col border border-2 rounded-0" style="border-color: #ccc">
            <legend>Strings</legend>
            {% if strings %}
                {% for string in strings %}
                <div class="col">
                    <label for="string_{{ string }}">{{ string }}:</label>
                    <input type="text" id="string_{{ string }}" name="string_{{ string }}" {% if new_string_names %} value="{{ new_string_names.get(string, '') }}" {% endif %}>
                </div>
                {% endfor %}
            {% endif %}
        </fieldset>
        <fieldset class="row custom-col border border-2 rounded-0" style="border-color: #ccc">
            <legend>Busbars</legend>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <span>180 Degree</span>
                </div>
                <div class="col">
                    <span>Insulation</span>
                </div>
                <div class="col">
                    <span>x</span>
                </div>
                <div class="col">
                    <span>y</span>
                </div>
                <div class="col">
                    <span>z</span>
                </div>
                <div class="col">
                    <span>width</span>
                </div>
                <div class="col">
                    <span>height</span>
                </div>
            </div>
            {% if sbars %}            
                {% for sbar in sbars %}
                <div class="row mb-2">
                    <div class="col">
                    <label for="sbar_{{ sbar }}">{{ sbar }}:</label>
                    </div>
                    <div class="col">
                    <input type="checkbox" id="sbar180deg_{{ sbar }}" name="sbar180deg_{{ sbar }}" {% if sbar_checkboxes_180deg[sbar] %}checked{% endif %}>
                    </div>
                    <div class="col">
                    <input type="checkbox" id="sbarheight_{{ sbar }}" name="sbarheight_{{ sbar }}" {% if sbar_checkboxes_height[sbar] %}checked{% endif %}>
                    </div>
                    {% for corrected_component_placement in corrected_component_placements %}
                        {% if corrected_component_placement.name == sbar %}
                            <div class="col">
                                <input type="number" class="form-control" name="placement_{{ corrected_component_placement.name }}_0" placeholder="Enter a number" value="{{ corrected_component_placement.placement[0] }}">
                            </div>
                            <div class="col">
                                <input type="number" class="form-control" name="placement_{{ corrected_component_placement.name }}_1" placeholder="Enter a number" value="{{ corrected_component_placement.placement[1] }}">
                            </div>
                            <div class="col">
                                <input type="number" class="form-control" name="placement_{{ corrected_component_placement.name }}_2" placeholder="Enter a number" value="{{ corrected_component_placement.placement[2] }}">
                            </div>
                            {% for corrected_component_outline in corrected_component_outlines %} 
                                {% if corrected_component_outline.name == sbar %}
                                    <div class="col">
                                        <input type="number" class="form-control" name="outline_{{ corrected_component_outline.name }}_0" placeholder="Enter a number" value="{{ corrected_component_outline.coordinates[2,0] }}">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" name="outline_{{ corrected_component_outline.name }}_1" placeholder="Enter a number" value="{{ corrected_component_outline.coordinates[2,1] }}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    
                </div>
                {% endfor %}

                {% if manipulate_after_submit_parameters %}
                    {% for i in range(new_sbar_data_length) %}
                    <div class="row mb-2">
                        <div class="col">
                            <input type="text" style="width: 200px;" class="form-control" name="new_sbar_name" placeholder="Enter name" value="{{ new_sbar_data[i][0] }}">
                        </div>
                        <div class="col">
                            <input type="checkbox" name="new_sbar180deg" {% if new_sbar_data[i][1] %}checked{% endif %}>
                        </div>
                        <div class="col">
                            <input type="checkbox" name="new_sbarheight" {% if new_sbar_data[i][2] %}checked{% endif %}>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="new_placement_x" placeholder="Enter x" step="any" value="{{ new_sbar_data[i][3] }}">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="new_placement_y" placeholder="Enter y" step="any" value="{{ new_sbar_data[i][4] }}">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="new_placement_z" placeholder="Enter z" step="any" value="{{ new_sbar_data[i][5] }}">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="new_outline_length" placeholder="Enter width" step="any" value="{{ new_sbar_data[i][6] }}">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="new_outline_width" placeholder="Enter height" step="any" value="{{ new_sbar_data[i][7] }}">
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="row mb-2" id="existing-rows"></div>
            {% endif %}
            <div class="col">
                <button type="button" style="width: 500px;" class="btn btn-secondary" id="add-row-btn">Add</button>
            </div>
            <div class="col">
                <button type="button" style="width: 500px;" class="btn btn-danger" id="remove-row-btn">Remove</button>
            </div>
        </fieldset>
    </div>
    <button type="submit" class="btn btn-outline-primary" id="submit-btn">Submit Parameters</button>
    <div id="error-message" style="color: red; display: none;">Please fill in all required fields.</div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Function to prevent form submission on Enter key press in input fields
            function preventEnterKeySubmission(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                }
            }
            
            function convertToFloat(input) {
                if (!isNaN(parseFloat(input.value))) {
                    input.value = parseFloat(input.value).toFixed(1); // Format to 1 decimal place
                }
            }

            // Function to add event listener to all relevant input fields
            function addEnterKeyPrevention() {
                document.querySelectorAll('input[type="text"], input[type="checkbox"], input[type="number"]').forEach(input => {
                    input.removeEventListener('keydown', preventEnterKeySubmission); // Remove existing listener to avoid duplicates
                    input.addEventListener('keydown', preventEnterKeySubmission);
                });
            }

            function addFloatConversion() {
                document.querySelectorAll('input[type="number"]').forEach(input => {
                    input.addEventListener('blur', function() {
                        convertToFloat(input);
                    });
                });
            }
        
            // Initial call to add event listener to all existing input fields
            addEnterKeyPrevention();
            addFloatConversion();

        
            // Add event listener to dynamically added rows
            document.getElementById('add-row-btn').addEventListener('click', function() {
                const existingRows = document.getElementById('existing-rows').children.length;
                console.log(existingRows);
                const newRow = document.createElement('div');
                newRow.className = 'row mb-2';
                newRow.innerHTML = `
                    <div class="col">
                        <input type="text" style="width: 200px;" class="form-control" name="new_sbar_name_dyn" placeholder="Enter name">
                    </div>
                    <div class="col">
                        <input type="checkbox" name="new_sbar180deg_${existingRows}">
                    </div>
                    <div class="col">
                        <input type="checkbox" name="new_sbarheight_${existingRows}">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" name="new_placement_x_dyn" placeholder="Enter x" step="any">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" name="new_placement_y_dyn" placeholder="Enter y" step="any">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" name="new_placement_z_dyn" placeholder="Enter z" step="any">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" name="new_outline_length_dyn" placeholder="Enter width" step="any">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" name="new_outline_width_dyn" placeholder="Enter height" step="any">
                    </div>
                `;
                document.getElementById('existing-rows').appendChild(newRow);

                // Add event listener to the new input fields
                addEnterKeyPrevention();
                addFloatConversion();
            });

            // Add event listener to the form submission
            document.querySelector('form').addEventListener('submit', function(event) {
                // Convert numeric input values to floats
                document.querySelectorAll('input[type="number"]').forEach(input => {
                    input.value = parseFloat(input.value);
                });
            });
            
            document.getElementById('remove-row-btn').addEventListener('click', function() {
                const existingRows = document.getElementById('existing-rows');
                if (existingRows.lastChild) {
                    existingRows.removeChild(existingRows.lastChild);
                }
            });

            document.getElementById('submit-btn').addEventListener('click', function(event) {
                const sbarNameInput = document.getElementById('sbar-name-input');
                if (sbarNameInput.value.trim() === '') {
                    event.preventDefault();
                    document.getElementById('error-message').style.display = 'block';
                } else {
                    sbarNameInput.value = 'sbar' + sbarNameInput.value;
                }
        
                const newRows = document.querySelectorAll('#existing-rows .row');
                let allFieldsFilled = true;
                newRows.forEach(row => {
                    const inputs = row.querySelectorAll('input[type="text"], input[type="number"]');
                    inputs.forEach(input => {
                        if (!input.value) {
                            allFieldsFilled = false;
                        }
                    });
                });
                if (!allFieldsFilled) {
                    event.preventDefault();
                    document.getElementById('error-message').style.display = 'block';
                }
            });
        });
    </script>
</form>
{% endblock %}